# EditorConfig is awesome: http://EditorConfig.org
# https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file.
[*]
insert_final_newline = true
trim_trailing_whitespace = true
#charset = utf-8 # don't enable this till M$ fix bug
indent_style = tab
indent_size = 8
